body {
    background-image: url(saiho.png);
    background-size: contain;
    background-repeat: 'no-repeat';

    background-attachment: fixed;
    background-position: 'center';
}

a {
    color: black;
    float: right;
    margin-right: 100px;
}

a:hover {
    color: yellow;
    font: italic;
    cursor: pointer;
}

h5:active {
    color: brown;
}